<nav class="navbar navbar-expand-lg navbar-light  p-3">
    <a class="navbar-brand" href="#">
        PitchFun
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="width: 100%; justify-content: center;" align="center">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
        <button class="btn btn-light my-2 my-sm-0 mr-5" type="submit">FORMEZ VOUS</button>
        <button class="btn btn-light my-2 my-sm-0" type="submit">SUIVEZ LES PROS</button>
      </ul>

<!--       <button class="btn btn-light my-2 my-sm-0 mr-4" id="login" type="submit">SE CONNECTER</button>
      <button class="btn btn-light my-2 my-sm-0" type="submit">S'INSCRIRE</button> -->

      <!-- <div class="avatar mr-2">
          <img src="https://img.freepik.com/vecteurs-libre/homme-mafieux-mysterieux-fumant-cigarette_52683-34828.jpg?size=338&ext=jpg" alt="">          
      </div>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cyrille
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#" style="border-bottom: solid 1px;">MON PROFIL</a>
          <a class="dropdown-item" href="#">DECONNEXION</a>
        </div>
      </div> -->

    </div>
  </nav>