<div class="container-fluid mb-5">

    <div class="container p-4">
        <div class="row">
            <div class="col">
                <span class="round">
                    <i class="material-icons">
                        arrow_back
                    </i>          
                </span>
                <span class="title">Liste des groupes</span>      
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container" style="width: 60em;">
        <div class="card p-3 barre">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg" width="100%" height="100%" alt="">
                </div>
                <div class="col-md-2">
                    <span id="title">Ferru de Maths</span>
                    <button class="btn btn-outline-dark btn-sm mt-4" id="suspension-btn">SUSPENDUS (40)</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <h6 class="mt-4">
                        <strong>19</strong>
                        publications
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="mt-4">
                        <strong>801</strong>
                        membres
                    </h6>
                </div>
                <div class="col-md-3">
                    <h6 class="mt-4">
                        <strong>90</strong>
                        membres en attente
                    </h6>
                </div>

            </div>
          </div>
    </div>


    <div class="container mt-5">
        <div class="header-title">
            <h6>
                Publications
            </h6>
        </div>

        <div class="row pub mt-4 ml-1 p-3" style="width: 95%;" align="center">
            <div class="col-md-4 mt-4 mb-4">
                <div class="card p-2" style="width: 14rem;">
                    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4 mb-4">
                <div class="card p-2" style="width: 14rem;">
                    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mt-4 mb-4">
                <div class="card p-2" style="width: 14rem;">
                    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="header-title">
            <h6>
                Publications
            </h6>
        </div>

        <div class="container" style="width: 100%;" align="center">
            <div class="row">
                <div class="col-md-12 mt-4" style="background-color: rgba(243, 241, 241, 0.801);">
                    <div class="card mt-5 mb-4" id="box-member">
                        <div class="row">
                            <div class="col-md-2" align="center">
                                <div class="avatar">
                                    <img src="https://img.freepik.com/vecteurs-libre/homme-mafieux-mysterieux-fumant-cigarette_52683-34828.jpg?size=338&ext=jpg"  alt="">          
                                </div>    
                            </div>
                            <div class="col-md-1">
                                <div class="mt-4">
                                    <span class="username">@cyr</span>                                
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    ATTRIBUER UN RÔLE
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    ECRIRE UN MESSAGE
                                </button>
                            </div>
                            <div class="col-md-3" align="center">
                                <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    SUSPENDRE
                                </button>
                            </div>
                        </div>
                      </div>

                      <div class="card mt-4 mb-4" id="box-member">
                        <div class="row">
                            <div class="col-md-2" align="center">
                                <div class="avatar">
                                    <img src="https://img.freepik.com/vecteurs-libre/homme-mafieux-mysterieux-fumant-cigarette_52683-34828.jpg?size=338&ext=jpg"  alt="">          
                                </div>    
                            </div>
                            <div class="col-md-1">
                                <div class="mt-4">
                                    <span class="username">@cyr</span>                                
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    ATTRIBUER UN RÔLE
                                </button> -->
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    ECRIRE UN MESSAGE
                                </button>
                            </div>
                            <div class="col-md-3" align="center">
                                <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    SUSPENDRE
                                </button>
                            </div>
                        </div>
                      </div>

                      <div class="card mt-4 mb-4" id="box-member">
                        <div class="row">
                            <div class="col-md-2" align="center">
                                <div class="avatar">
                                    <img src="https://img.freepik.com/vecteurs-libre/homme-mafieux-mysterieux-fumant-cigarette_52683-34828.jpg?size=338&ext=jpg"  alt="">          
                                </div>    
                            </div>
                            <div class="col-md-1">
                                <div class="mt-4">
                                    <span class="username">@cyr</span>                                
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    ATTRIBUER UN RÔLE
                                </button> -->
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    ADMETTRE
                                </button>
                            </div>
                            <div class="col-md-3" align="center">
                                <!-- <button class="btn btn-warning btn-sm group-member-detail mt-4" style="width: 70%;">
                                    SUSPENDRE
                                </button> -->
                            </div>
                        </div>
                      </div>

                </div>
                
            </div>
        </div>
    </div>



</div>