<div class="container-fluid mb-5">
    <p class="registery_p mb-4">Connexion</p>
    <div class="form-conterner">
        <div class="form-row pt-5 mb-5">
            
            <div class="form-group col-md-4" align="center">
                <div class="button-api">
                    <img src="https://img.icons8.com/color/48/000000/facebook-circled--v5.png"/>
                    <small>Se connecter avec Facebook</small>
                </div>
            </div>
            <div class="form-group col-md-4" align="center">
                <div class="button-api">
                    <img src="https://img.icons8.com/color/48/000000/google-logo.png"/>
                    <small>Se connecter avec Google</small>
                </div>
            </div>
            <div class="form-group col-md-4" align="center">
                <div class="button-api">
                    <img src="https://img.icons8.com/color/48/000000/linkedin-circled--v1.png"/>
                    <small>Se connecter avec LinkedIn</small>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <p class="social">OU</p>
        </div>

        <div class="container" style="width: 50%;">
            <form action="/action_page.php" class="p-5">                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Adresse Email</label>
                        <input type="email" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Mot de Passe</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <!-- 7 -->
                </div>
                
                <div class="form-row">                
                    <button class="btn submit_btn btn-block">Valider</button>               
                </div>
            </form>
        </div>

    </div>
</div>
<div >
    
</div>