button {
    border-radius: 0;
}

strong {
    font-size: 20px;
}

input, textarea {
    border-radius: 0;
}

.bord {
    border: solid;
}

.round {
    border-radius: 100%;
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: black;
}

.round > i {
    position: relative;
    top: 4px;
    font-weight: 900;
    color: white;
}

.hshtag {
    width: 70%;
    text-align: left;
    background-color:rgba(243, 241, 241, 0.801);    
}


.card { 
    background-color:rgba(243, 241, 241, 0.801);

}


.card > span {
    font-size: small;
}