<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h6>
                800 Participants
            </h6>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="hshtag p-2">
                <h6>
                    #IT #Politique
                </h6>
            </div>
        </div>
        <div class="col-md-2">            
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 p-2" align="center">
            <h6 class="">Publications</h6>
            <div class="card mt-3" id="box-pub">
                <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                <span>Par @Cyrille 21 - 07 - 2022 | Thème [IA Politique]</span>
                <div class="card-body">
                    <div class="form-group" align="left">
                        <label for="exampleInputEmail1">Context [Approche]</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" style="float: right;">Publier</button>
                </div>
              </div>

              <div class="card mt-3" id="box-pub">
                <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                <span>Par @Cyrille 21 - 07 - 2022 | Thème [IA Politique]</span>
                <div class="card-body">
                    <div class="form-group" align="left">
                        <label for="exampleInputEmail1">Context [Approche]</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" style="float: right;">Publier</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>