<div class="container-fluid community">

    <div class="container community-barre p-5">
        <div class="row">
            <div class="col-md-3">
                <img src="https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg" width="80%" alt="">
            </div>
            <div class="col-md-3" align="center">
                <button class="btn btn-outline-dark btn-block mt-4">
                    FERRU DES MATH
                </button>
                <span class="hshtag">#Analyse</span>
                &nbsp;
                <span class="hshtag">#Algèbre</span>
            </div>
            <div class="col-md-3 mt-4" align="center">
                <h3>54 pitch</h3>
            </div>
            <div class="col-md-3 mt-4" align="center">
                <button class="btn btn-outline-danger btn-block">
                    REJOINDRE
                </button>
                <span class="hshtag">
                    540
                    <i class="material-icons">people</i>
                </span>
            </div>
        </div>
    </div>


    <div class="container community-barre p-5">
        <div class="row">
            <div class="col-md-3">
                <img src="https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg" width="80%" alt="">
            </div>
            <div class="col-md-3" align="center">
                <button class="btn btn-outline-dark btn-block mt-4">
                    FERRU DES MATH
                </button>
                <span class="hshtag">#Analyse</span>
                &nbsp;
                <span class="hshtag">#Algèbre</span>
            </div>
            <div class="col-md-3 mt-4" align="center">
                <h3>54 pitch</h3>
            </div>
            <div class="col-md-3 mt-4" align="center">
                <button class="btn btn-outline-danger btn-block">
                    REJOINDRE
                </button>
                <span class="hshtag">
                    540
                    <i class="material-icons">people</i>
                </span>
            </div>
        </div>
    </div>

</div>