<div class="container-fluid">

    <div class="row">

        <div class="col-md-8">

            <div class="container p-3 barre">
                <div class="row">
                    <div class="col-md-2" align="center">
                        <img src="https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg" width="80%" height="100%" alt="">
                    </div>
                    <div class="col-md-5">
                        <p class="text-muted">
                            26/07/2021 <span>Par @Cyrille</span>
                        </p>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-3">
                        <p class="text-secondary">
                            Ferru De Maths
                        </p>
                    </div>
                </div>
            </div>


            <div class="container thematic mt-3 p-1">
                <p class="text-secondary">
                    Thématiques
                </p>
            </div>


            <div class="container mt-3 hshtag">
                <div class="row">
                    <div class="col-md-8 p-0">
                        <div class="container hshtag-barre p-1">
                            <span class="text-secondary">
                                #Analyse
                            </span>
                            <span class="text-secondary">
                                #Algèbre
                            </span>
                        </div>      
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-block" id="join-us-btn">
                            Rejoindre
                            <i class="material-icons">directions_run</i>
                        </button>
                    </div>
                </div>
            </div>


            <div class="container mt-4 card-barre">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" id="box-box" style="width: 12rem;">
                            <div class="card-body">                                                            
                              <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <p class="card-link text-secondary">4 Publications</p>                              
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card box-box" id="box-box" style="width: 12rem;">
                            <div class="card-body">       
                            <p class="card-text text-secondary" id="box-text" style="transform: translateY(300%);">
                                  49 Membres
                              </p>
                            </div>
                          </div>
                    </div>
                         
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container onglet-barre" align="center">
                <div class="row">
                    <div class="col-md-12 mt-4 mb-4">
                        <button class="btn">
                            Mes Publications
                        </button>
                    </div>
                    <div class="col-md-12 mb-4">
                        <button class="btn">
                            Groupes Crées
                        </button>
                    </div>
                    <div class="col-md-12 mb-4">
                        <button class="btn">
                            Groupes En Attente
                        </button> 
                    </div>
                    <div class="col-md-12 last">
                        <button class="btn">
                            Groupes Intégrés
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>