<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="cadre mt-4 p-3">
                <h6 class="text-secondary">
                    Liste Des Challenges
                </h6>
            </div>
            <button class="btn btn-primary join mt-4">
                Rejoins Une Communauté
            </button>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">

            <div class="container challenges-barre mt-3 mb-4 p-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-secondary mt-2">#Challenge1</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-secondary mt-2">
                            800 Participants
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-dark btn-block">
                            Lancez Vous
                        </button>
                    </div>
                </div>
            </div>

            <div class="container challenges-barre mt-3 mb-4 p-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-secondary mt-2">#Challenge1</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-secondary mt-2">
                            800 Participants
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-dark btn-block">
                            Lancez Vous
                        </button>
                    </div>
                </div>
            </div>

            <div class="container challenges-barre mt-3 mb-4 p-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-secondary mt-2">#Challenge1</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-secondary mt-2">
                            800 Participants
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-dark btn-block">
                            Lancez Vous
                        </button>
                    </div>
                </div>
            </div>

            <div class="container challenges-barre mt-3 mb-4 p-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-secondary mt-2">#Challenge1</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-secondary mt-2">
                            800 Participants
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-dark btn-block">
                            Lancez Vous
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card mt-3 ml-3" style="width: 14em; background-color: rgba(243, 241, 241, 0.801); border: none; border-radius: 0;">
                <div class="card-body">
                  <p class="text-dark">
                      Post (100)
                  </p>
                  <p class="text-dark">
                      Publications (200)
                  </p>
                  <p class="text-dark">
                      Challenges Participés (25)
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>