<div class="container-fluid p-3">
    <div class="title p-2 ml-5">
        <h6>Créer Un Challenge</h6>
    </div>
</div>

<div class="p-3 ml-5 subtitle">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h6>
                        Titre Du Challenge:
                    </h6>
                </div>
                <div class="col-md-6 p-0">
                    <div class="hshtag p-2 ml-5">
                        <h6>#SciencePO</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-4">
                    <h6>
                        Thématique:
                    </h6>
                </div>
                <div class="col-md-6 p-0">
                    <div class="hshtag p-2 ml-5">
                        <h6>#IT #Politique</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-4 mb-5">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 p-0">
            <div class="btn-created">
                <button class="btn btn-primary btn-block">
                    Créer
                </button>
            </div>
            <div class="container challenge p-0">
                <div class="card" style="width: 100%; border-radius: 0;">
                    <h6 class="p-2">#Challenge1</h6>
                    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                    <span>Par @Cyrille 21 - 07 - 2022 | Thème [IA Politique]</span>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                              <label for="exampleInputEmail1" class="text-secondary">Context [Approche]</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="text-secondary">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1" class="text-secondary">Conclusion</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                          </form>
                          
                    </div>
                    <div class="card-footer" align="center">
                        <span class="text-secondary">
                            Commentaires (10)                             
                        </span>
                        <span class="ml-4 text-secondary">
                            [Recompenser] 
                        </span>
                        <span class="ml-4 text-secondary">
                            [Partager] 
                        </span>
                        <span class="ml-4 text-secondary">
                            [Marquer]                        
                        </span>                        
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>