<div class="container-fluid">

    <div class="container p-4">
        <div class="row">
            <div class="col-10">
                <span class="round">
                    <i class="material-icons">
                        arrow_back
                    </i>          
                </span>
                <span class="title">Formez Vous
                </span>      
            </div>
            <div class="col-1"></div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="container" id="box-main" >
        <div class="row  p-4">
            <div class="col-md-4" id="box-formation">
                <div class="card p-2" >
                    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis fugiat ab nisi, quidem corporis</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4" id="box-formation">
                <div class="card p-2" >
                    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis fugiat ab nisi, quidem corporis</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4" id="box-formation">
                <div class="card p-2" >
                    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis fugiat ab nisi, quidem corporis</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>