<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4">

            <div class="container bord p-2 square">
                <div class="row">
                    <div class="col-md-2 square-icon2" align="right">
                        <i class="material-icons">
                            create
                        </i>
                    </div>
                    <div class="col-md-6 square-text" align="right">
                        <p>Pitchs les mieux notés</p>
                    </div>
                    <div class="col-md-4" align="center">
                        <div class="square-icon" align="center">
                            <i class="material-icons">
                                star
                            </i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="container bord p-2 square" (click)="goToCommunity()">
                <div class="row">
                    <div class="col-md-1 square-icon2" align="right">
                        
                    </div>
                    <div class="col-md-7 square-text" align="right">
                        <p>Rejoindre une communauté</p>
                    </div>
                    <div class="col-md-4" align="center">
                        <div class="square-icon" align="center">
                            <i class="material-icons">
                                people
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container bord p-2 square">
                <div class="row">                    
                    <div class="col-md-8 square-text" align="right">
                        <p>Voir challenges</p>
                    </div>
                    <div class="col-md-4" align="center">
                        <div class="square-icon" align="center">
                            <i class="material-icons">
                                hourglass_full
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5  ">
    <div class="container p-3 search">
        <div class="row" align="center">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="InputSearch" placeholder="#Thème">
                  </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="InputSearch" placeholder="#Mots clés">
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="file" class="form-control" id="InputSearch" placeholder="#Image (upload)">
                  </div>
            </div>   
            <div class="col-md-1 search-btn">
                <i class="material-icons pt-1" style="font-size: 35px;">search</i>
            </div>         
        </div>
    </div>
</div>


<router-outlet name="child"></router-outlet>