<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4">

            <div class="container bord p-2 square">
                <div class="row">
                    <div class="col-md-2 square-icon2" align="right">
                        <i class="material-icons">
                            create
                        </i>
                    </div>
                    <div class="col-md-6 square-text" align="right">
                        <p>Pitchs les mieux notés</p>
                    </div>
                    <div class="col-md-4" align="center">
                        <div class="square-icon" align="center">
                            <i class="material-icons">
                                star
                            </i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="container bord p-2 square">
                <div class="row">
                    <div class="col-md-2 square-icon2" align="right">
                        <i class="material-icons">
                            create
                        </i>
                    </div>
                    <div class="col-md-6 square-text" align="right">
                        <p>Pitchs les mieux notés</p>
                    </div>
                    <div class="col-md-4" align="center">
                        <div class="square-icon" align="center">
                            <i class="material-icons">
                                star
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container bord p-2 square">
                <div class="row">
                    <div class="col-md-2 square-icon2" align="right">
                        <i class="material-icons">
                            create
                        </i>
                    </div>
                    <div class="col-md-6 square-text" align="right">
                        <p>Pitchs les mieux notés</p>
                    </div>
                    <div class="col-md-4" align="center">
                        <div class="square-icon" align="center">
                            <i class="material-icons">
                                star
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5  ">
    <div class="container p-3 search">
        <div class="row" align="center">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="InputSearch" placeholder="#Thème">
                  </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="InputSearch" placeholder="#Mots clés">
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="file" class="form-control" id="InputSearch" placeholder="#Image (upload)">
                  </div>
            </div>   
            <div class="col-md-1 search-btn">
                <i class="material-icons pt-1" style="font-size: 35px;">search</i>
            </div>         
        </div>
    </div>
</div>

<!-- post control -->

<div class="container-fluid">
    <div class="container  mt-5">
        <div class="row">
            <div class="col-md-12 post">

                <div class="container">

                    <div class="row header">
                        <div class="col-md-2">
                            <div class="avatar">
                                <img src="https://img.freepik.com/vecteurs-libre/homme-mafieux-mysterieux-fumant-cigarette_52683-34828.jpg?size=338&ext=jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h4 class="username">Mohamed zidane</h4>
                            <span class="date" class="text-secondary" style="font-size: small;">Publié le 24/06/2021</span>
                        </div>
                    </div>

                    <div class="row picture">
                        <div class="col-md-12 mt-3">
                            <img src="https://image.freepik.com/photos-gratuite/gros-plan-fille-posant-chapeau_23-2149067170.jpg" width="100%" height="95%" alt="">
                        </div>
                    </div>

                    <div class="row actions p-2">
                        <div class="col-md-1">
                            <small>1.2k</small>
                            <i class="material-icons">
                                file_download
                            </i>                            
                        </div>
                        <div class="col-md-1">
                            <small>1.2k</small>
                            <i class="material-icons">
                                favorite
                            </i>                            
                        </div>
                        <div class="col-md-1">
                            <small>1.2k</small>
                            <i class="material-icons">
                                thumb_up
                            </i>                            
                        </div>
                        <div class="col-md-1">
                            <small>1.2k</small>
                            <i class="material-icons">
                                thumb_down
                            </i>                            
                        </div>
                        
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-1">
                            
                        </div>
                        <div class="col-md-1 pt-2">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary disabled" style="width: 100%;">SANTE</button>
                                <button type="button" class="btn btn-secondary disabled" style="width: 100%;">BIEN&nbsp;ETRE</button>
                                <button type="button" class="btn btn-secondary disabled" style="width: 100%;">SOURIRE</button>
                              </div>
                        </div>
                    </div>

                    <div class="row post-detail p-2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">CONTEXTE-ACCROCHE</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">DESCRIPTION</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">CONCLUSION</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row post-barre">
                        <div class="col-md-2 p-3">                            
                            <i class="material-icons" style="float: left;">
                                message
                            </i>   
                            <small style="float: left;">(10)</small>                         
                        </div>
                        <div class="col-md-2 p-3">
                            <i class="material-icons" style="float: left;">
                                stars
                            </i>  
                            <small style="float: left;">Recompenser</small>                          
                        </div>
                        <div class="col-md-2 p-3">                            
                            <i class="material-icons" style="float: left;">
                                share
                            </i> 
                            <small style="float: left;">(Partager)</small>                           
                        </div>
                        <div class="col-md-2 p-3">                            
                            <i class="material-icons" style="float: left;">
                                turned_in
                            </i>  
                            <small style="float: left;">(Sauvegarder)</small>                          
                        </div>
                        
                        <div class="col-md-2 p-3">                            
                            <small style="float: right;">(Masquer)</small>
                            <i class="material-icons" style="float: right;">
                                clear
                            </i>
                        </div>
                        <div class="col-md-2 p-3">
                            <small  style="float: right;">(Signaler)</small>
                            <i class="material-icons" style="float: right;">
                                security
                            </i> 
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
