<div class="container-fluid">

    <div class="container p-4" id="direction">
        <div class="row">
            <div class="col-11">
                <span class="round">
                    <i class="material-icons">
                        arrow_back
                    </i>          
                </span>
                <span class="title">Liste des communautés</span>      
            </div>
            <div class="col-1"></div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8">
                <div class="container group-info p-3">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg" width="35%" alt="">                            
                            <span class="ml-2">
                                Formulede maths
                            </span>
                        </div>              

                        <div class="col-md-3">
                            <h6><strong>45</strong> publications</h6>
                        </div>
                        <div class="col-md-3">
                            <h6><strong>702</strong> membres</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn created-group-btn">
                    CREER UN GROUPE
                </button>
            </div>
        </div>
    </div>

    
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9">
                <div class="container pt-4 pl-5">
                    <button class="btn btn-outline-dark btn-lg btn-nb-pub ml-5">
                        49 publications
                    </button>
                </div>

                <div class="container pl-5 pt-3" id="pub-box">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card p-2" style="width: 15rem;">
                                <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted mb-1">@ 1 year</h6>
                                  <h5 class="card-title">Contexte</h5>
                                  <p class="card-text">Some quick example text to build.</p>

                                  <h5 class="card-title">Description</h5>
                                  <p class="card-text">Some quick example text to build. Some quick example text to build.</p>                                  

                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card p-2" style="width: 15rem;">
                                <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted mb-1">@ 1 year</h6>
                                  <h5 class="card-title">Contexte</h5>
                                  <p class="card-text">Some quick example text to build.</p>

                                  <h5 class="card-title">Description</h5>
                                  <p class="card-text">Some quick example text to build. Some quick example text to build.</p>                                  

                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card p-2" style="width: 15rem;">
                                <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_960_720.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted mb-1">@ 1 year</h6>
                                  <h5 class="card-title">Contexte</h5>
                                  <p class="card-text">Some quick example text to build.</p>

                                  <h5 class="card-title">Description</h5>
                                  <p class="card-text">Some quick example text to build. Some quick example text to build.</p>                                  

                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-5">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">Some quick example text to build. Some quick example text to build. Some quick example text to build. Some quick example text to build.</p>

                        <h5 class="card-title">Thématique</h5>
                        <p class="card-text">Some quick example text to build. Some quick example text to build.</p>

                        <h5 class="card-title">Valeur</h5>
                        <p class="card-text">Some quick example text to build.</p>
                    </div>
                  </div>
            </div>
        </div>

    </div>


    <div class="container-fluid mb-5 group-member">
        <div class="container">
            <span class="title">Membres du groupe</span>

            <br>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 p-4" align="center" style="background-color:rgba(243, 241, 241, 0.801);">
                        <div class="card mt-3 mb-4" id="barre-member" style="">
                            <div class="row">
                                <div class="col-md-2" align="center">
                                    <div class="avatar">
                                        <img src="https://img.freepik.com/vecteurs-libre/homme-mafieux-mysterieux-fumant-cigarette_52683-34828.jpg?size=338&ext=jpg"  alt="">          
                                    </div>    
                                </div>
                                <div class="col-md-1">
                                    <div class="mt-4">
                                        <span class="username" id="username">@cyr</span>                                
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="group-member-detail" align="center">
                                        28 publications
                                    </h6>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="group-member-detail" align="center">
                                        9 groupes suivis
                                    </h6>
                                </div>
                                <div class="col-md-3" align="center">
                                    <button class="btn btn-secondary group-member-detail" style="width: 70%;">
                                        SUIVRE
                                    </button>
                                </div>
                            </div>
                          </div>

                          <div class="card mb-4" id="barre-member" style="">
                            <div class="row">
                                <div class="col-md-2" align="center">
                                    <div class="avatar">
                                        <img src="https://img.freepik.com/vecteurs-libre/homme-mafieux-mysterieux-fumant-cigarette_52683-34828.jpg?size=338&ext=jpg"  alt="">          
                                    </div>    
                                </div>
                                <div class="col-md-1">
                                    <div class="mt-4">
                                        <span class="username" id="username">@cyr</span>                                
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="group-member-detail" align="center">
                                        28 publications
                                    </h6>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="group-member-detail" align="center">
                                        9 groupes suivis
                                    </h6>
                                </div>
                                <div class="col-md-3" align="center">
                                    <button class="btn btn-secondary group-member-detail" style="width: 70%;">
                                        SUIVRE
                                    </button>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>